<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Cgv Crawling</title>
  </head>
  <body>
    <div class="container">
      <h1>시간</h1>
      <p>현재부터 가장 빠른 영화 상영시간: <%=minTime %></p>
      <p>마지막 영화 상영시간: <%=maxTime %></p>
      <h2>CGV 출근시간 계산</h2>

      <label id="myLabel">
        <input type="radio" name="part_time" value="open" />오픈
        <input type="radio" name="part_time" value="close" />마감
        <input type="radio" name="part_time" value="close2" />마감2 <br />
        영화 시간
        <br />
        <input type="text" id="time" /><br />
        근무 시간 <br />
        <input type="radio" name="work_time" value="6" />6h
        <input type="radio" name="work_time" value="6:30" />6.5h
        <input type="radio" name="work_time" value="7" />7h
        <input type="radio" name="work_time" value="7:30" />7.5h
        <br />

        <button onclick="getSelectedValue()">데이터 가져오기</button>
      </label>
      <p id="output"></p>
      <button type="button" onclick="location.href='/'">리셋</button>
    </div>
    <script src="cgv.js"></script>
  </body>
</html>
